NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres.wmehbjdkbhqihcqidlda:Maxsolderme1@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.wmehbjdkbhqihcqidlda:Maxsolderme1@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"
JWT_ACCESS_SECRET=replace-with-at-least-32-random-charactersuutyfugyiiiiiiihbhrv7ifuirjkjhvvvvvvvvvvvvvvfffhvjjjjjjjjjjjjjjjjjjfv
JWT_REFRESH_SECRET=replace-with-a-different-32-character-secretmjffhgljjnvidlsuvdhhxfhvvffffffffffffffffffffffffffffffffffffffffsfvfv
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=30
FRONTEND_URL=http://localhost:3000
LOG_LEVEL=info
STORAGE_LOCAL_PATH=./uploads
SWAGGER_ENABLED=true
TRUST_PROXY=true
SERVICE_NAME=konet-api
SHUTDOWN_TIMEOUT_MS=10000
